<div class="publications">
  {% comment %}
  The jekyll-scholar plugin is not available in GitHub Pages.
  Selected papers functionality has been disabled for compatibility.
  {% endcomment %}
  <p><em>Selected papers functionality requires jekyll-scholar plugin which is not available in GitHub Pages environment.</em></p>
</div>
