# PyTorch (Native Apple Silicon / MPS support is included by default in recent versions)
torch>=2.2.0

# Data Manipulation & Math
numpy>=1.24.0
pandas>=2.0.0
scikit-learn>=1.3.0
openpyxl

# Visualization
matplotlib>=3.7.0

# MLOps & Experiment Tracking
wandb>=0.16.0
hydra-core>=1.3.2
omegaconf>=2.3.0

# Testing & Dev Tools
pytest>=7.4.0
jupyter>=1.0.0
tqdm>=4.65.0
pyarrow
urllib3<2